@import '../vars.scss';
@import '../mixin.scss';
@import './bonus.scss';

.content {
    &__banner {
        content: '';
        width: 1040px;
        height: 336px;
        background-color: $payed-blue;
        border-radius: 8px;
        margin-bottom: 24px;
    }

    &__bonus {
        margin-bottom: 40px;
    }

    &__options {
        margin-bottom: 16px;
    }

    &__cards {
        margin-bottom: 192px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 330px);
        gap: 24px;
    }
}
