@import '../vars.scss';
@import '../mixin.scss';

.header {
    width: 100%;
    height: 100%;
    padding: 36px $calc-width 24px $calc-width;
    display: grid;
    grid-template-columns: 312px 308px auto;

    &__big-logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 32px;
    }
}
