@import '../vars.scss';
@import '../mixin.scss';

.header {
    width: 100%;
    height: 100%;
    padding: 36px $calc-width 24px $calc-width;
    display: grid;
    grid-template-columns: 312px 308px auto;

    &__big-logo {
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 32px;
    }

    &__search {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__search-btn {
        @include btn;

        position: relative;
        padding: 0 16px;
        z-index: 1;
        border-radius: 8px;

        &:active {
            transform: scale(0.6);
        }
    }

    &__search-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 56px;
        border-radius: 8px;
        background: $search-color;

        &::placeholder {
            color: $title-color-grey;
            font-size: 18px;
            line-height: 28px;
            margin-left: 16px;
        }

        &:focus {
            background: white;
            box-shadow: 0 0 0 1px $border-shadow-color inset;
        }
    }

    &__user {
        padding-right: 88px;
        justify-self: end;
    }

    &__user-btn {
        @include btn;
        
        justify-content: end;
        text-align: left;
    }

    &__user-image {
        border-radius: 50%;
        margin-right: 16px;
    }

    &__user-info {
        @include flexcol;

        justify-content: space-between;
    }

    &__user-name {
        font-weight: 600;
        color: $second-color;
    }

    &__user-balance {
        font-size: 13px;
        line-height: 20px;
    }
}
