$main-color: #1c1819;
$second-color: #2a81dd;
$btn-bg-color-yellow: #ffdd61;
$balans-bg-color: #f0fafd;
$title-color-grey: #888b94;
$radio-checked-bg-color: #d6ecfb;
$colors-square-blue: #00458a;
$colors-square-beige: #efe8d8;
$colors-square-grey: #d4d4da;
$border-shadow-color: rgba(28, 24, 25, 0.1);
$none-color: rgba(0, 0, 0, 0);
$search-color: #f2f2f3;
$payed-blue: #e9f2fb;
$payed-green: #eff8eb;
$payed-yellow: #fffae7;
$green-bg-color: #64bd38;
$color-text-red: #f33;

$calc-width: calc(50vw - 720px);

$main-box: 1px solid $border-shadow-color;
